// Colors
$white:         #FFFFFF;
$black:         #111111;
$dark-grey:     #989898;
$medium-grey:   #EAEAEA;
$light-grey:    #F5F7F7;
$red:           #D31114;
$green:         #0F9601;
$yellow:        #F5A71B;
