@import '../base/colors.scss';

$base-color:    $red;
$text-color:    $black;
$link-color:    $dark-grey;
$hover-color: darken($base-color, 20%);

$bar-positive1: #48D12C;
$bar-positive2: #FFFCC1;
$bar-neutral:   #FCFBBE;
$bar-negative1: #FF741A;
$bar-negative2: #FEFCBF;

$font-family-1: Georgia, serif;
$font-family-2:  Arial, sans-serif;
$font-family-icons: FontAwesome;

$label-rating-positive: $bar-positive1;
$label-rating-negative: $bar-negative1;
$rating-star-rated: $dark-grey;
$rating-star-active: $base-color;
$rating-star-base: #e3e3e3;
$rating-average-label: $dark-grey;
$argument-list-header-text-transform: uppercase;
$argument-list-header-color: black;
$barometer-background-color: $light-grey;

$discussion-title-color: $text-color;
$list-entry-title-color: $text-color;

@import '../base/main.scss';
